@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #F3F3F1;
    --primary-color: #A31F34;
    --secondary-color: #C4961A;
    --darkgray-color: #545759;
    --gray-color: #8A8B8C;
    --black-color: #333d47;
    --ligher-gray-color: #C2C0BF;
    --blue-color: #4d858d;
    --primary-shadow: #8C8179;
    --secondary-shadow: #8996A0;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem; 
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    background-color: var(--primary-color);
    color: white;
    border: 1.5;
    border-radius: 50%;
    padding: 0.45rem 0.8rem;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 2px 3px 3px var(--primary-shadow);
  }

#myBtn:hover{
    background-color: var(--secondary-color);
    box-shadow: 2px 3px 3px var(--secondary-color);
  } 

/* Font Settings */  
body {
    font-family: var(--font-family);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    line-height: var(--line-height);
}

#preloader{
    background: var(--bg-color) url(images/loader.gif) no-repeat center center;
    background-size: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    position: fixed;
    z-index: 100;
}


/* Navigation Bar */
.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 10%;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px var(--primary-shadow);
}

nav h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-family: Average;
  }
  
nav a {
    color: white;
    transition: var(--transition);
    background-color: var(--primary-color);
    padding: 0.7rem 2rem;
    border-radius: 0.25rem;
    text-decoration: none;
  }
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 1rem 2.5rem;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
  }
  
nav ul {
    display: flex;
    gap: 2rem;
    transition: all var(--transition) ease;
  }
  
nav ul li:hover{
    font-weight: var(--bold-font);
  }

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

.bars{
    font-size: 3rem;
    cursor: pointer;
    transition: var(--transition);
  }

.bars:hover{
    color: var(--secondary-color);
  }
/* Hero Section */
.hero {
    align-items: center;
    justify-content: center;
    position: relative;
    height: 130vh;
  }

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.bio h2{
    font-size: 8rem;
    position: absolute;
    bottom: 38rem;
    left: 8rem;
    color: white;
    line-height: 7rem;
    padding-right: 1rem;
    border-bottom: 3px solid white;
}

.bio p{
    font-size: 1.5rem;
    width: 28rem;
    position: absolute;
    bottom: 31rem;
    left: 8rem;
    line-height:3rem;
    color: white;
}

/*Typewriter effect */
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--primary-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 1.5s steps(40, end) 1s,
        blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 30rem }
  }

.animate__animated.animate__fadeInLeft{
    --animate-duration: 2s;
    animation-delay: 1s;
}

/* About Me Section */

.about {
    background-color: var(--primary-color);
    padding: 2rem 4rem;
    margin-top: 0;
    min-height: 90vh;
  }
  
.about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: white;
  }

.MLV{
    color: var(--ligher-gray-color);
}

.MLV a{
    text-decoration: none;
    color: var(---ligher-gray-color);
}

.MLV a:hover{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--bold-font);
}

.intro{
    line-height: var(--line-height);
    font-size: 1.2rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 2rem;
  }

/* Education Section */
.education{
    background-color: var(--bg-color);
    margin-bottom: 2rem;
    padding-top: 0rem;
}
.education h3{
    background-color: var(--secondary-color);
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: white;
    box-shadow: 0 3px 5px var(--primary-shadow);
}
.education-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-content: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.education-card{
    display: flex;
}

.education-card img{
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.education-info p{
    color: var(--black-color);
    margin-bottom: 0.5rem;
}

.education-info h4{
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.unbold{
    font-weight: normal;
}

.smaller{
    font-size: 1rem;
    color: var(--gray-color);
}

/* Awards Section */
.awards-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0.5rem 2rem;
    text-align: center;
}
.awards-card{
    padding-left: 2rem;
    padding-right: 2rem;
}

.awards-card img{
    height: 6rem;
    width: auto;
    margin: 1rem 2rem 1rem 2rem;
}

.awards-card img:hover{
    height: 7rem;
    width: auto;
    margin: 0.5rem 2rem 0.5rem 2rem;
}

.awards span{
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: bold;
}

/* More About Me Section */
.more-about-me{
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.more-about-me-text {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25em;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}
.more-about-me-container{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linkedin img{
    width: 10rem;
    height: auto;
    transition: all var(--transition) ease;
    margin-right: 2rem;
}

.resume-link{
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--blue-color);
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.resume-link:hover{
    color: var(--secondary-color);
}

/* Skills Section */
.skills {
    background-color: white;
    text-align: center;
    padding: 2.5rem 4rem;
    min-height: 85vh;
  }
  
.skills h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--primary-color);
  }
  
.icon {
    width: 8rem;
    height: 7.5rem;
  }

.icon-card {
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 3px 10px 3px var(--primary-shadow);
    margin: 1.5rem 3rem;
    padding: 1rem;
  }

.first-set {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

.second-set {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
.icon-text{
    font-size: 1.5rem;
    color: var(--black-color);
    margin-top: 0rem;
  }

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hidden {
    opacity: 0; 
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}   

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

.icon-box:nth-child(2) {transition-delay: 0.2s;}
.icon-box:nth-child(3) {transition-delay: 0.4s;} 
.icon-box:nth-child(4) {transition-delay: 0.6s;}
.icon-box:nth-child(5) {transition-delay: 0.8s;}
.icon-box:nth-child(6) {transition-delay: 1s;}
.icon-box:nth-child(7) {transition-delay: 1.2s;}
.icon-box:nth-child(8) {transition-delay: 1.4s;}

.skills-wrapper p {
    color: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: var(--transition);
}

.animate__animated.animate__fadeInRight {
    animation-delay: 1s;
    animation-duration: 2s;
}

/* Projects Section */
.projects {
    background-color: var(--darkgray-color);
    padding: 2rem 4rem;
    min-height: 85vh;
  }
  
.project-pic {
    max-width: 100%;
    height: auto;
    padding-bottom: 0.5rem;
}

.projects-container {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(0,auto);
    grid-gap: 1.5rem;
    align-items: stretch;
  }


.projects-title {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    border-bottom: 3px solid white;
  }

.project-container p {
    padding: 0.2rem;
    text-align: center;
    color: var(--black-color);
  }
  
.project-title {
    text-align: center;
    padding-bottom: 0.5rem;
    color: var(--primary-color);
  }
  
  
.project-card {
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 1rem 1rem 0rem 1rem;
    margin: 1rem;
    transition: all var(--transition) ease;
    height: 100%;
  }

  .project-link {
    text-decoration: none;
    color: inherit;
    transition: all var(--transition) ease;
  }
  .project-link:hover {
    text-decoration: none;
    color: inherit;
  }
  .project-link:hover .project-container{
   box-shadow: 0 0px 20px 5px var(--secondary-color);
}

/* Contacts Section */

.contact {
    padding: 2.5rem 4rem;
    background-color: var(--bg-color);
  }
  
.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
.contact-form-container {
    background-color: var(--primary-color);
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

  .contact-form-container.hidden {
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
  }

.contact-form-container label {
    display: grid;
    line-height: 2em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    font-size: 1rem;
  }
  
.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
  }
  
.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset black;
    font-size: 1rem;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
  }

.form-control label{
    color: white;
}

.form-control input{
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: var(--black-color)
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    box-shadow: 3px 3px 10px var(--secondary-shadow);
}

.thank-you-message{
    padding: 1rem;
    text-align: center;
}

.socials {
    padding: 1rem 4rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.socicon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }

.socicon:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

footer{
    display: block;
    background-color: var(--primary-color);
    padding: 1.25rem;
    text-align: center;
}

.copy{
    font-size: 1rem;
    color: white;
}

/* RESPONSIVE WEBSITE DESIGN */

@media screen and (max-width: 800px) {
/*changes reflects on screen with a width of 800px and below*/
/* Font Settings */  
    body {
        font-family: var(--font-family);
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        line-height: var(--line-height);
    }
    nav {
        padding: 1rem 2rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        text-align: center;
        top: 7.0rem;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.1s ease-out opacity 0.1s ease-out;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        border-top: 5px solid var(--primary-color);
      }
    
    nav ul li {
        margin: 0.5rem 1rem 0.5rem 1rem;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 0.5fr;
        align-items: center;
        justify-content: center;
      }
    
    nav a{
        border-bottom: 2px solid var(--secondary-color);
    }

    nav a:hover {
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
        background-color: var(--primary-color);
        box-shadow: 0 3px 5px rgb(0, 0, 0);
      }

    .burger-menu {
        display: block;
        cursor: pointer;
      }
    
    nav.my-nav ul.show {
        transform: translateX(0) ease-out;
        opacity: 1;
        transition-duration: 0.5s;
      }
    
    #myBtn {
        display: none;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 99;
        background-color: var(--primary-color);
        color: white;
        border: 1.5;
        border-radius: 50%;
        padding: 0.45rem 0.8rem;
        font-size: 2rem;
        cursor: pointer;
        transition: var(--transition);
        box-shadow: 2px 3px 3px var(--primary-shadow);
      }
    
    #myBtn:hover{
        background-color: var(--secondary-color);
        box-shadow: 2px 3px 3px var(--secondary-color);

      } 
    
    /* Hero Section */
    .hero {
        align-items: center;
        justify-content: center;
        height: 50rem;
    }

    .hero img {
        width: 100%;
        max-height: 100%;
        object-fit: cover; 
        object-position: 50% 0;
        display: absolute;
    }

    .bio h2{
        font-size: 2.5rem;
        font-display: wrap;
        position: absolute;
        bottom: 30rem;
        left: 2rem;
        color: white;
        line-height: 4rem;
        padding-right: 1rem;
        border-bottom: 2px solid white;
    }

    .bio p{
        font-size: 1rem;
        width: 15rem;
        position: absolute;
        bottom: 25rem;
        left: 2rem;
        line-height: 2rem;
        color: white;
    }
    /*Typewriter effect */
    .typewriter h2 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--primary-color); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
            typing 1.5s steps(40, end) 1s,
            blink-caret .5s step-end infinite;
    }
  
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 10rem }
    }

    .animate__animated.animate__fadeInLeft{
        --animate-duration: 2s;
        animation-delay: 1s;
    }

    /* About Me Section */

    .about {
        background-color: var(--primary-color);
        padding: 2rem 2rem;
        margin-top: 0;
        min-height: 90vh;
    }
    
    .about h2 {
        margin-bottom: var(--bottom-margin);
        text-align: center;
        color: white;
    }
    
    .intro{
        line-height: var(--line-height);
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        margin-bottom: 2rem;
        text-align: justify;
    }

    /* Education Section */
    .education{
        background-color: var(--bg-color);
        margin-bottom: 2rem;
        padding-top: 0rem;
    }
    .education h3{
        background-color: var(--secondary-color);
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        color: white;
        box-shadow: 0 3px 5px var(--primary-shadow);
    }
    .education-container{
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        align-items: center;
        justify-content: left;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
    }
    .education-card{
        display: flex;
        margin-bottom: 2rem;
    }

    .education-card img{
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .education-info p{
        color: var(--black-color);
        margin-bottom: 0.3rem;
    }

    .education-info h4{
        color: var(--primary-color);
        margin-bottom: 0.5rem;
    }

    .unbold{
        font-weight: normal;
    }

    .smaller{
        font-size: 0.8rem;
        color: var(--gray-color);
    }

    /* Awards Section */
    .awards-container{
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem 0rem 2rem;
        text-align: center;
    }
    .awards-card{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1.5rem;
    }

    .awards-card img{
        height: 6rem;
        width: auto;
        margin: 1rem 2rem 1rem 2rem;
    }

    .awards-card img:hover{
        height: 7rem;
        width: auto;
        margin: 0.5rem 2rem 0.5rem 2rem;
    }

    .awards span{
        color: var(--black-color);
        font-size: 1rem;
        font-weight: bold;
    }

    /* More About Me Section */
    .more-about-me{
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .more-about-me-text {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.25em;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .more-about-me-container{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .linkedin img{
        width: 8rem;
        height: auto;
        transition: all var(--transition) ease;
        margin-right: 1rem;
    }

    .resume-link{
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        color: var(--blue-color);
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .resume-link:hover{
        color: var(--secondary-color);
    }

    /* Skills Section */
    .skills {
        background-color: white;
        text-align: center;
        margin-bottom: -1rem;
    }
    .skills-wrapper{
        padding: 1rem 1rem;
    }

    .skills h2 {
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
    }
    
    .icon {
        width: 7rem;
        height: 6.5rem;
    }

    .icon-card {
        background-color: white;
        border-radius: 11px;
        box-shadow: 0 3px 10px 3px var(--primary-shadow);
        margin: 1rem 1.5rem;
    }

    .first-set {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.5rem;
        align-items: center;
    }

    .second-set {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.5rem;
        align-items: center;
    }
    .icon-text{
        font-size: 1rem;
        color: var(--black-color);
    }

    .icon-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden {
        opacity: 0; 
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 2s;
    }   

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    @media(prefers-reduced-motion){
        .hidden {
            transition: none;
        }
    }

    .icon-box:nth-child(2) {transition-delay: 0.2s;}
    .icon-box:nth-child(3) {transition-delay: 0.4s;} 
    .icon-box:nth-child(4) {transition-delay: 0.6s;}


    .skills-wrapper p {
        color: var(--primary-color);
        margin-top: 1rem;
        margin-bottom: 0rem;
        transition: var(--transition);
    }

    .animate__animated.animate__fadeInRight {
        animation-delay: 1s;
        animation-duration: 2s;
    }

    /* Projects Section */
    .projects {
        background-color: var(--darkgray-color);
        padding: 2rem 2rem;
        margin: 0rem;
    }
    
    .project-pic {
        max-width: 100%;
        height: auto;
        padding-bottom: 0.5rem;
        object-fit: cover;
    }

    .projects-container {
        display: grid;
        justify-content: center;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(0, auto);
        grid-gap: 3rem; /* adjust this line */
        align-items: stretch; /* adjust this line */
    }

    .projects-title {
        text-align: center;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        color: var(--secondary-color);
        border-bottom: 3px solid white;
    }
    
    .project-container {
        width: auto;
        height: auto;
    }

    .project-container p {
        text-align: center;
        color: var(--black-color);
    }
    
    .project-title {
        text-align: center;
        padding-bottom: 0.2rem;
        color: var(--primary-color);
    }
    
    .project-details {
        margin-bottom: var(--bottom-margin);
    }
    
    .project-card {
        background-color: var(--bg-color);
        border-radius: 11px;
        box-shadow: 0 3px 10px var(--primary-shadow);
        margin: 0rem;
        padding: 1rem;
    }

    .project-link {
    text-decoration: none;
    color: inherit;
    transition: all var(--transition) ease;
    }
    .project-link:hover {
    text-decoration: none;
    color: inherit;
    }
    .project-link:hover .project-container{
    box-shadow: 0 0px 20px 5px var(--secondary-color);
    }

    /* Contacts Section */

    .contact {
        padding: 2.5rem 2rem;
        background-color: var(--bg-color);
    }
    
    .contact h2 {
        text-align: center;
        margin-bottom: var(--bottom-margin-2);
    }
    
    .contact-form-container {
        background-color: var(--primary-color);
        margin: 0 auto;
        padding: 1rem 1rem;
        border-radius: 5px;
        box-shadow: 0 3px 10px var(--secondary-shadow);
    }

    .contact-form-container label {
        display: grid;
        line-height: 2em;
        font-weight: var(--bold-font);
        color: var(--primary-color);
        font-size: 1rem;
    }
    
    .contact-form-container textarea {
        min-height: 6.25rem;
        font-size: 1rem;
        font-family:Arial, Helvetica, sans-serif;
        padding-left: 0.5rem;
        max-width: 100%;
        min-width: 100%;
        max-height: fit-content;
    }
    
    .contact-form-container .input-field {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        border: none;
        border: 2px outset black;
        font-size: 1rem;
        outline: none;
        font-family:Arial, Helvetica, sans-serif;
        padding-left: 0.5rem;
    }

    .form-control label{
        color: white;
    }

    .form-control input{
        color: black;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background-color: #fff;
        border: 2px solid var(--black-color);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: var(--bold-font);
        transition: var(--transition);
        color: var(--black-color)
    }

    .submit-btn.active {
        background-color: var(--secondary-color);
        cursor: pointer;
        box-shadow: 3px 3px 10px var(--secondary-shadow);
    }
}