/* Font Settings */  
body {
    font-family: var(--font-family);
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: var(--line-height);
}
nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    text-align: center;
    top: 7.0rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    border-top: 5px solid var(--primary-color);
  }

nav ul li {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 0.5fr;
    align-items: center;
    justify-content: center;
  }

nav a{
    border-bottom: 2px solid var(--secondary-color);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: 0 3px 5px rgb(0, 0, 0);
  }

.burger-menu {
    display: block;
    cursor: pointer;
  }

nav ul.show {
    transform: translateX(0);
  }

/* Hero Section */
.hero {
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
}

.bio h2{
    font-size: 3.5rem;
    position: absolute;
    bottom: 80vh;
    left: 2rem;
    color: white;
    line-height: 5rem;
    padding-right: 1rem;
    border-bottom: 3px solid white;
}

.bio p{
    font-size: 1.2rem;
    width: 15rem;
    position: absolute;
    bottom: 70vh;
    left: 2rem;
    line-height: 2rem;
    color: white;
}
/*Typewriter effect */
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--primary-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
        typing 1.5s steps(40, end) 3s,
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 15rem }
}

.animate__animated.animate__fadeInLeft{
    --animate-duration: 2s;
    animation-delay: 3s;
}

/* About Me Section */

.about {
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    margin-top: 0;
    min-height: 90vh;
}

.about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: white;
}

.intro{
    line-height: var(--line-height);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 2rem;
}

/* Education Section */
.education{
    background-color: var(--bg-color);
    margin-bottom: 2rem;
    padding-top: 0rem;
}
.education h3{
    background-color: var(--secondary-color);
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: white;
    box-shadow: 0 3px 5px var(--primary-shadow);
}
.education-container{
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-content: left;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}
.education-card{
    display: flex;
    margin-bottom: 2rem;
}

.education-card img{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.education-info p{
    color: var(--black-color);
    margin-bottom: 0.3rem;
}

.education-info h4{
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.unbold{
    font-weight: normal;
}

.smaller{
    font-size: 0.8rem;
    color: var(--gray-color);
}

/* Awards Section */
.awards-container{
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
}
.awards-card{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
}

.awards-card img{
    height: 6rem;
    width: auto;
    margin: 1rem 2rem 1rem 2rem;
}

.awards-card img:hover{
    height: 7rem;
    width: auto;
    margin: 0.5rem 2rem 0.5rem 2rem;
}

.awards span{
    color: var(--black-color);
    font-size: 1rem;
    font-weight: bold;
}

/* More About Me Section */
.more-about-me{
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.more-about-me-text {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25em;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}
.more-about-me-container{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linkedin img{
    width: 8rem;
    height: auto;
    transition: all var(--transition) ease;
    margin-right: 1rem;
}

.resume-link{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--blue-color);
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.resume-link:hover{
    color: var(--secondary-color);
}

/* Skills Section */
.skills {
    background-color: white;
    text-align: center;
    padding: 2.5rem 4rem;
    min-height: 85vh;
}

.skills h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--primary-color);
}

.icon {
    width: 8rem;
    height: 7.5rem;
}

.icon-card {
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 3px 10px 3px var(--primary-shadow);
    margin: 1.5rem 3rem;
    padding: 1rem;
}

.first-set {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.second-set {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.icon-text{
    font-size: 1.5rem;
    color: var(--black-color);
    margin-top: 0rem;
}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    opacity: 0; 
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}   

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

.icon-box:nth-child(2) {transition-delay: 0.2s;}
.icon-box:nth-child(3) {transition-delay: 0.4s;} 
.icon-box:nth-child(4) {transition-delay: 0.6s;}
.icon-box:nth-child(5) {transition-delay: 0.8s;}
.icon-box:nth-child(6) {transition-delay: 1s;}
.icon-box:nth-child(7) {transition-delay: 1.2s;}
.icon-box:nth-child(8) {transition-delay: 10s;}

.skills-wrapper p {
    color: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: var(--transition);
}

.animate__animated.animate__fadeInRight {
    animation-delay: 1s;
    animation-duration: 2s;
}

/* Projects Section */
.projects {
    background-color: var(--darkgray-color);
    padding: 2.5rem 4rem;
    min-height: 85vh;
}

.project-pic {
    max-width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
}

.projects-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr
}


.projects-title {
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    border-bottom: 3px solid white;
}

.project-container {
    width: auto;
    height: auto;
}

.project-container p {
    padding: 0.2rem;
    text-align: center;
    color: var(--black-color);
}

.project-title {
    text-align: center;
    padding-bottom: 0.2rem;
    color: var(--primary-color);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 1rem;
}

.project-link {
text-decoration: none;
color: inherit;
transition: all var(--transition) ease;
}
.project-link:hover {
text-decoration: none;
color: inherit;
}
.project-link:hover .project-container{
box-shadow: 0 0px 20px 5px var(--secondary-color);
}